<!-- Hard & Soft Skills -->
<section class="hard seccion-clara d-fle flex-colum">
  <p class="seccion-titulo texto-negro">Hard & Soft Skills</p>
</section>

<div class="row d-flex justify-content-center mt-50">
  <div class="col-md-6">
    <div class="progress blue">
      <span class="progress-left">
        <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
        <span class="progress-bar"></span>
      </span>
      <div class="progress-value">90%</div>
    </div>

    <div class="progress yellow">
      <span class="progress-left">
        <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
        <span class="progress-bar"></span>
      </span>
      <div class="progress-value">37.5%</div>
    </div>

    <div class="progress blue">
      <span class="progress-left">
        <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
        <span class="progress-bar"></span>
      </span>
      <div class="progress-value">90%</div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center mt-50">
  <div class="col-md-6">
    <div class="progress blue">
      <span class="progress-left">
        <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
        <span class="progress-bar"></span>
      </span>
      <div class="progress-value">90%</div>
    </div>

    <div class="progress yellow">
      <span class="progress-left">
        <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
        <span class="progress-bar"></span>
      </span>
      <div class="progress-value">37.5%</div>
    </div>

    <div class="progress blue">
      <span class="progress-left">
        <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
        <span class="progress-bar"></span>
      </span>
      <div class="progress-value">90%</div>
    </div>
  </div>
</div>
