<!-- Hard & Soft Skills -->
<section class="seccion-clara d-flex">
  <div class="container">
    <p class="seccion-titulo texto-negro">Hard & Soft Skills</p>
    
    <div class="row skillRow d-flex jutify-content-evenly">
      <div class="col justify-content-center ">
        <div>
          <h3 class="seccion-subtitulo">HTML</h3>
        </div>
        <circle-progress
        [percent]="65">
        </circle-progress>
      </div>

      <div class="col justify-content-center">
        <div>
          <h3 class="seccion-subtitulo">JavaScript</h3>
        </div>
        <circle-progress
        [percent]="62">
        </circle-progress>
      </div>

      <div class="col justify-content-center">
        <div>
          <h3 class="seccion-subtitulo">Angular</h3>
        </div>
        <circle-progress
          [percent]="85">
        </circle-progress>
      </div>

      <div class="col justify-content-center">
        <div>
          <h3 class="seccion-subtitulo">Corel DRAW</h3>
        </div>
        <circle-progress
        [percent]="90.5">
      </circle-progress>
      </div>
    </div>

    <div class="row skillRow d-flex jutify-content-evenly">
      <div class="col justify-content-center">
        <div>
          <h3 class="seccion-subtitulo">Trabajo en equipo</h3>
        </div>
        <circle-progress
        [percent]="90">
      </circle-progress>
      </div>

      <div class="col justify-content-center">
        <div>
          <h3 class="seccion-subtitulo">Proactividad</h3>
        </div>
        <circle-progress
        [percent]="80.5">
      </circle-progress>
      </div>

      <div class="col justify-content-center">
        <div>
          <h3 class="seccion-subtitulo">Creatividad</h3>
        </div>
        <circle-progress
          [percent]="92">
        </circle-progress>
      </div>

      <div class="col justify-content-center">
        <div>
          <h3 class="seccion-subtitulo">Empatia</h3>
        </div>
        <circle-progress
        [percent]="85">
      </circle-progress>
      </div>
    </div>
  </div>
</section>
