<!-- Button trigger modal -->
<button type="button" class="btn btn-primary iconoEditar" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="open(content)">
     <i class="bi bi-pencil-fill"></i>
   </button>
   
   <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{propiedadesModal?.titulo}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
         
         <div class="input-group">
            <input
              id="descripcion"
              class="form-control"
              placeholder={{propiedadesModal?.descripcion}}
             />
            <input
              *ngIf="propiedadesModal.subdescripcion"
              id="subdescripcion"
              class="form-control"
              placeholder={{propiedadesModal?.subdescripcion}}
  
               />
            
          </div>
          
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
  </ng-template>