.iconoEliminar{
    width: 40px;
    height: 40px;
    color: white;
    background-color: blueviolet;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
    border: none;
}

.iconoEliminar> i {
 font-size: 35px;
 }