<section class="row proyectos-recientes seccion-clara d-flex flex-colum">   
  <h1 class="seccion-titulo">Mis proyectos</h1>
  <h3 class="seccion-descripcion">Estos son algunos proyectos que he creado recientemente</h3>
  <!-- Galeria de proyectos -->
  <div class="container text-center proyectos-contenedor">
    <div class="row">
      <!-- proyecto 1 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
        <img src="../../../assets/Proyecto 1.jpg" alt="Proyecto 1">
        <div class="overlay">
         <p class="seccion-subtitulo">SIDCOM</p>
         <p>Rediseño Logo & Carteleria</p>
         <div class="iconos-contenedor">
           <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
             <i class="bi bi-github"></i>
           </a>
         </div>
         </div>
        </div>   
      </div>
      <!-- proyecto 2   -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/Proyecto 1.jpg" alt="Proyecto 1">
          <div class="overlay">
           <p>Proyecto 1</p>
           <div class="iconos-contenedor">
             <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
               <i class="bi bi-github"></i>
             </a>
           </div>
           </div>
          </div>   
      </div>
      <!-- proyecto 3   -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/Proyecto 1.jpg" alt="Proyecto 1">
          <div class="overlay">
           <p>Proyecto 1</p>
           <div class="iconos-contenedor">
             <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
               <i class="bi bi-github"></i>
             </a>
           </div>
           </div>
          </div>   
      </div>
      <!-- proyecto 4   -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/Proyecto 1.jpg" alt="Proyecto 1">
          <div class="overlay">
           <p>Proyecto 1</p>
           <div class="iconos-contenedor">
             <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
               <i class="bi bi-github"></i>
             </a>
           </div>
           </div>
          </div>   
      </div>
      <!-- proyecto 5   -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/Proyecto 1.jpg" alt="Proyecto 1">
          <div class="overlay">
           <p>Proyecto 1</p>
           <div class="iconos-contenedor">
             <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
               <i class="bi bi-github"></i>
             </a>
           </div>
           </div>
          </div>   
      </div>
      <!-- proyecto 6   -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/Proyecto 1.jpg" alt="Proyecto 1">
          <div class="overlay">
           <p>Proyecto 1</p>
           <div class="iconos-contenedor">
             <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
               <i class="bi bi-github"></i>
             </a>
           </div>
           </div>
          </div>   
      </div>

    </div>
  </div>   
</section>
