/* Barra de navegacion */
.navbar {
    padding: 2rem;
    background-color: #f6e5e8;
}

.navbar-collapse {
    align-items: center;
    justify-content: flex-end;
}

/* Seccion banner */
.banner{
    background-color: #f6e5e8;
    text-align: start;
}

.bannerContainer {
    display: flex;
    justify-content: center;
    height: 50vh;
}

#bannerImg{
    width: 90%;
}

#botonEncabezado{
    display: flex;
    
}

.iconoUser {
    width: 40px;
    height: 40px;
    color: white;
    background-color: blueviolet;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

