<section
  class="contenedorExperiencia experiencia seccion clara d-flex flex-column">
  <h4 class="seccion-titulo">Experiencia Laboral</h4>
  <div
    class="experiencia columna seccion clara d-flex justify-content-evenly"
  >
    <div>
      <img
        class="logosExperiencia img-fluid"
        src="../../../assets/PAPYROS.png"
        alt="foto LogoPapyros"
        width="10%"
      />
    </div>
    <div>
      <div class="contenedorInfoExp d-flex flex-column">
        <P class="experienciaTitulo seccionSubtitulo">Papyros</P>
        <p>2015-2018</p>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
      </div>
     
       
    </div>
  </div>
  <div class="experiencia columna seccion clara d-flex justify-content-evenly">
    <div>
      <img
        class="logosExperiencia img-fluid"
        src="../../../assets/Boutique de la India.png"
        alt="foto LogoBoutique"
        width="10%"
      />
    </div>
    <div>
      <div>
        <P class="experienciaTitulo seccionSubtitulo">Boutique de la India</P>
        <p>2019-2021</p>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
      </div>
      <div class="badges-contenedor">
        <span class="badge text-bg-primary">Escribir</span>
        <span class="badge text-bg-primary">Editar</span>
        <span class="badge text-bg-primary">Blogs</span>
      </div>
    </div>
  </div>
  <div class="experiencia columna seccion clara d-flex justify-content-evenly">
    <div>
      <img
        class="logosExperiencia img-fluid"
        src="../../../assets/LOGO - RINOWIN ORIGINAL.png"
        alt="foto LogoRinowin"
        width="10%"
      />
    </div>
    <div>
      <P class="experienciaTitulo seccionSubtitulo">Rinowin</P>
      <p>2021-Actualidad</p>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
      <div class="badges-contenedor">
        <span class="badge text-bg-primary">HTML</span>
        <span class="badge text-bg-primary">CSS</span>
        <span class="badge text-bg-primary">JavaScript</span>
      </div>
    </div>
  </div>
</section>
