@import "~bootstrap-icons/font/bootstrap-icons.css";

/* Barra de navegacion */
.navbar {
    padding: 2rem;
    background-color: #f6e5e8;
}

.navbar-collapse {
    align-items: center;
    justify-content: flex-end;
}

.bannerContainer {
    display: flex;
    justify-content: center;
    height: 50vh;
}

#banner{
    width: 90%;
}

/* Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
   font-size: 2rem;
   font-family: 'Libre Baskerville', serif; 
}

.seccion-oscura{
  background-color: 1b1b32; 
}

.seccion-clara{
    color: black;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Libre Baskerville', serif;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: blueviolet;

}

.seccion.texto{
    font-size: 1.2rem;
}

/* Seccion Hero */
.hero{
    background-color: f5f6f7;
    min-height: 450px;
    text-align: start;
}

.hero-principal {
    padding: 3rem;
    position: relative;
    bottom: 200px;
    left: 100px;
    width: 80%;
}

.hero-imagen-desarrollador {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 1rem;
    color: #615151 ;
}

/* sobre mi */
.sobre-mi{
    height: 500px;
    padding: 50px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/* experiencia */
/* .experiencia {
    padding: 40% 40% 60% 40%;
} */

.experiencia i {
    font-size: 2.5rem;
    color: rgb(234, 66, 155);
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia .columna {
    padding: 30px;
    border: 5px #0a0a23;
    /* display: flex;
    flex-direction: colum;
    align-items: center;
    justify-content: space-evenly; */
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: #0a0a23;
}



.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}



/* Adaptable (responsivo) logo Argentina Programa */
@media screen and (max-width: 767px) {
    .navbar-brand {
     display: none;
    }
}

/* proyectos */
.hard {
    padding: 40px;
}
