@import "~bootstrap-icons/font/bootstrap-icons.css";

.seccion-oscura{
  background-color: 1b1b32; 
}

.seccion-clara{
    color: black;
}

.seccion-titulo {
    color: rgb(209, 18, 148);
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Libre Baskerville', serif;
}

.seccionSubtitulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: blueviolet;

}

.seccion.texto{
    font-size: 1.2rem;
}



.hero-principal {
    padding: 3rem;
    position: relative;
    bottom: 200px;
    left: 100px;
    width: 80%;
}



.hero-principal h2 {
    font-size: 1rem;
    color: #615151 ;
}

/* Adaptable (responsivo) logo Argentina Programa */
@media screen and (max-width: 767px) {
    .navbar-brand {
     display: none;
    }
}

/* proyectos */


.editarAlFinal{
    justify-content:end; 
}
